#screen  {
    float:left;
    width: 400px;
    height: 240px;
    border: 1px solid black;
    margin: 10px;
    position: relative;
}

#body-line {
    position: absolute;
    bottom: 21px;
}

h1 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}

p {
    margin-left: 5%; 
    line-height: 1.7;
}
